# compiled output
/dist
/node_modules
/.clinic
/.env
/prisma/dev.db
/prisma/dev.db-journal
/.pnp
.pnp.js

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

# Tests
/coverage
/.nyc_output

# production
/build
Thumbs.db
*.zip

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json